@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@100..900&display=swap");
* {
  margin: 0px;
}
body {
  background-color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 4000;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: white;
}
p {
  color: rgba(255, 255, 255, 0.65);
}
header {
  background: linear-gradient(
    360deg,
    rgba(17, 17, 17, 0.301),
    rgba(119, 119, 119, 0.308) 100%
  );
  width: 100%;
}

.navbar .brand {
  color: rgb(230, 83, 60);

  font-size: 36px;
  font-weight: 800;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 190px;
  padding-top: 57px;
}
.navbar > .nav-button {
  display: flex;
  padding: 5px 0px;
  align-items: center;
  gap: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 46px;
}
.navbar > .nav-button > li {
  list-style: none;
  padding: none;
  font-size: 18px;
  font-weight: 400;
  padding-right: 25px;
}
.home {
  background-color: rgb(230, 83, 60);
  border: 4px solid rgb(230, 83, 60);
  border-radius: 46px;
  padding: 3px 20px;
  margin-left: 5px;
  text-align: center;
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 576px) {
  .menu-icon {
    display: block;
    font-size: 36px;
    font-weight: 800;
  }
  
  .navbar {
    margin: 0px 20px;
  }
  .navbar > .nav-button {
    display: none;
  }
  .navbar .brand {
    margin-top: 14px;
  }
}

/* home page part  */

.header {
  margin: 200px 190px 0px 190px;
  display: flex;
  justify-content: space-between;
}
.title {
  width: 520px;
  height: 282px;
}
.title h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
}
.title h1 span {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 100;
  font-style: italic;
}
.title p {
  margin: 28px 0px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.joinclub {
  width: 224px;
  height: 54px;
  border-radius: 42px;
  background-color: rgb(230, 83, 60);
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-style: none;
}
.downloadapp {
  width: 224px;
  height: 54px;
  margin-left: 10px;
  border-radius: 42px;
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border: 1px solid white;
}

.img-text1 {
  width: 193px;
  height: 98px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  position: absolute;
  top: 440px;
  right: 120px;
}
.img-text1 h1 {
  padding-top: 15px;
  padding-bottom: 5px;
}
.img-text1 p {
  color: rgba(255, 255, 255, 0.65);
}
.img-text2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 193px;
  height: 98px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  /* text-align: center; */
  position: absolute;
  top: 720px;
  right: 450px;
}
.play img {
  width: 50px;
  border-radius: 50px;
}
.img-text2 p {
  color: rgba(255, 255, 255, 0.65);
}

@media screen and (max-width: 576px) {
  .header {
    flex-direction: column;
    margin: 20px;
  }

  .title {
    width: 352px;
    height: 335px;
  }
  .title p {
    font-size: 13px;
  }

  .joinclub {
    width: 160px;
    height: 50px;
    margin-right: 5px;
  }
  .downloadapp {
    width: 160px;
    height: 50px;
    margin: 0px;
  }
  .poster {
    margin-top: 400px;
  }
  .img-text1 {
    width: 146px;
    height: 75px;
    position: absolute;
    top: 940px;
    right: 20px;
  }
  .img-text1 h1 {
    font-size: 30.24px;
    font-weight: 900;
    padding-top: 10px;
  }
  .img-text1 p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
    font-weight: 400;
    line-height: 15.12px;
  }
  .img-text2 {
    width: 146px;
    height: 75px;
    position: absolute;
    top: 1150px;
    right: 240px;
    gap: 7px;
  }
  .play img {
    width: 30px;
    border-radius: 50px;
    margin-top: 7px;
  }
  .img-text2 h1 {
    font-size: 22px;
    font-weight: 900;
  }
  .img-text2 p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
    font-weight: 400;
    line-height: 15.12px;
  }
}

/* first-section */

.first-section {
  width: 100%;
  height: 452px;
}
.parent {
  margin: 58px 190px;
}
.title-part {
  margin: 58px auto;
  text-align: center;
}
.title-part h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  padding-bottom: 12px;
}
.title-part p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
}
.card-box {
  width: 231px;
  height: 274px;
  text-align: center;
}
.card-box img {
  border-radius: 100px;
  border: 4px solid rgba(255, 255, 255, 0.13);
}
.card-box h3 {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
.card-box p {
  padding-top: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 576px) {
  .first-section {
    height: 100%;
  }
  .card-container {
    flex-direction: column;
    justify-content: center;
  }
  .card-box {
    margin: 20px auto;
  }
  .card-box img {
    border-radius: 100px;
  }
}
/* challange part  */
.challange {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.intro {
  text-align: center;
  padding: 20px 0px;
}
.intro h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  padding-bottom: 12px;
}
.video {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 576px) {
  .challange {
    max-width: 453px;
  }
  .video > iframe {
    width: 90%;
    margin: 20px auto;
    padding: 20px auto;
  }
  .intro h1 {
    font-size: 38px;
    font-weight: 800;
    line-height: 120%;
    padding-bottom: 12px;
  }
  .intro p {
    padding-top: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
  }
}

/* second-section */
.second-section {
  width: 100%;
  height: 371px;
  margin-bottom: 70px;
}
.father {
  display: flex;
  justify-content: space-between;
  margin: 58px 190px;
  background-color: rgba(34, 34, 34, 0.637);
  border-radius: 18px;
}
.first-box {
  width: 443px;
  height: 116px;
  margin: 41px 54px;
}
.first-box h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  padding-bottom: 14px;
}
.first-box p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 34px;
}

.second-box img {
  width: 366px;
  height: 312px;
  border-radius: 18px;
  margin: 32px 30px;
  object-fit: cover;
}
@media screen and (max-width: 576px) {
  .second-section {
    margin: 20px;
    width: 90%;
    height: 100%;
  }
  .father {
    width: 350px;
    height: 531px;
    flex-direction: column;
    gap: 20px;
    margin: 20px 20px;
  }
  .first-box {
    width: 287px;
    height: 76px;
    margin: 41px 24px;
  }
  .first-box h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 120%;
    padding-bottom: 14px;
  }
  .first-box p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 34px;
  }

  .second-box img {
    width: 287px;
    height: 170px;
    object-fit: cover;
  }
  .first-box .joinclub {
    text-align: center;
    width: 287px;
    height: 54px;
    margin-left: 6px;
  }
}
/* Bmi calculator  */
.calculator {
  width: 100%;
  background-color: rgba(34, 34, 34, 0.637);
}
.calculator-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 58px 190px;
  padding-bottom: 20px;
  padding-top: 10px;
}
caption {
  color: white;
  margin-bottom: 40px;
  margin-top: 5px;
  padding: 4px;
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
}
table {
  border-collapse: collapse;
  text-align: left;
  margin: 30px auto;
}

th,
td {
  border: 1px solid rgba(255, 255, 255, 0.315);
  padding: 15px 30px;

  color: rgba(255, 255, 255, 0.65);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
th {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

.cal {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  width: 577px;
  height: 386px;
}
.cal > h1 {
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
}
fieldset {
  border: 0px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px;
  margin-bottom: 10px;
}
#factor {
  grid-column: span 2;
}
fieldset > input,
select {
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border: none;
  color: rgba(128, 122, 122, 0.897);
}

option {
  color: rgba(255, 255, 255, 0.65);
  background-color: rgba(0, 0, 0, 0.65);
}
.form > .joinclub {
  margin-top: 20px;
}

@media screen and (max-width: 576px) {
  .calculator-container {
    flex-direction: column;
    margin: 58px 0px;
  }
  .cal {
    width: 354px;
    height: 395px;
  }
  fieldset > input,
select {
  padding: 10px 5px;
  
}
}

/* Our team part  */
.third-section {
  width: 100%;
}
.team {
  text-align: center;
}
.team h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  padding-bottom: 15px;
}
.team p {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
}
.team-info {
  background-color: rgba(34, 34, 34, 0.637);
  margin: 58px 190px;
  border-radius: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 20px 20px;
}
.team-info .row {
  width: 437px;
  height: 372px;
  border-radius: 18px;
  background-size: 100%;
  margin: 20px;
}
#row1 {
  background-image: url(../images/trainer1.png);
}
#row2 {
  background-image: url(../images/trainer2.png);
  background-size: 100% 100%;
}
#row3 {
  background-image: url(../images/trainer3.png);
}

#row6 {
  background-size: 100% 100%;
  background-image: url(../images/trainer4.png);
}
#row5 {
  background-image: url(../images/trainer5.png);
}
#row4 {
  background-size: 100% 100%;
  background-image: url(../images/trainer6.png);
}
.row h2 {
  margin-top: 290px;
  margin-left: 20px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}
.row p {
  padding-top: 10px;
  margin-left: 20px;
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
}
@media screen and (max-width: 576px) {
  .third-section {
    height: 100%;
  }
  .team-info {
    flex-direction: column;
    width: 323px;
    margin: 20px 0px 20px 31px;
  }
  .team-info .row {
    width: 313px;
    height: 272px;
    border-radius: 18px;
    background-size: 100%;
    margin: 0px;
  }
  #row4 {
    background-size: 100% 100%;
  }
  .row h2 {
    margin-top: 200px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 800;
    line-height: 24px;
  }
  .row p {
    padding-top: 0px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
  }
}

/* footer  */
footer {
  max-width: 100%;
  height: 489px;
  background-color: rgba(34, 34, 34, 0.637);
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 350px;
  padding: 58px 190px;
}
footer > p {
  text-align: center;
  font-size: 25px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding-top: 30px;
  margin: 20px 190px;
}
.footer-box > h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}
.footer-box > p {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  padding-top: 25px;
}
.brand {
  color: rgb(230, 83, 60);
  font-style: italic;
  font-size: 46px;
  font-weight: 800;
  padding-bottom: 20px;
}
.footer-box1 > p {
  width: 443px;
  height: 72px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
}
@media screen and (max-width: 576px) {
  footer {
    height: 100%;
    margin: 0px;
  }
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 30px 20px;
  }
  .footer-box1 > p {
    height: 72px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  footer > p {
    text-align: center;
    font-size: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px 20px 0px 20px;
  }
}
