@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@100..900&display=swap");
* {
  margin: 0px;
}
body {
  background-color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 4000;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: white;
}
p {
  color: rgba(255, 255, 255, 0.65);
}
header {
  background: linear-gradient(
    360deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  width: 100%;
}

.navbar .brand {
  color: rgb(230, 83, 60);

  font-size: 36px;
  font-weight: 800;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 190px;
  padding-top: 57px;
}
.navbar > .nav-button {
  display: flex;
  padding: 5px 0px;
  align-items: center;
  gap: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 46px;
}
.navbar > .nav-button > li {
  list-style: none;
  padding: none;
  font-size: 18px;
  font-weight: 400;
  padding-right: 25px;
}
.home {
  background-color: rgb(230, 83, 60);
  border: 4px solid rgb(230, 83, 60);
  border-radius: 46px;
  padding: 3px 20px;
  margin-left: 5px;
  text-align: center;
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 576px) {
  .menu-icon {
    display: block;
    font-size: 36px;
    font-weight: 800;
  }
  .navbar {
    margin: 20px;
  }
  .navbar > .nav-button {
    display: none;
  }
}

/* home page part  */

.header {
  margin: 200px 190px 0px 190px;
  display: flex;
  justify-content: space-between;
}
.title {
  width: 520px;
  height: 282px;
}
.title h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
}
.title h1 span {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 100;
  font-style: italic;
}
.title p {
  margin: 28px 0px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.joinclub {
  width: 224px;
  height: 54px;
  border-radius: 42px;
  background-color: rgb(230, 83, 60);
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-style: none;
}
.downloadapp {
  width: 224px;
  height: 54px;
  margin-left: 10px;
  border-radius: 42px;
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border: 1px solid white;
}

.img-text1 {
  width: 193px;
  height: 98px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  position: absolute;
  top: 440px;
  right: 120px;
}
.img-text1 h1 {
  padding-top: 15px;
  padding-bottom: 5px;
}
.img-text1 p {
  color: rgba(255, 255, 255, 0.65);
}
.img-text2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 193px;
  height: 98px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  /* text-align: center; */
  position: absolute;
  top: 720px;
  right: 450px;
}
.play img {
  width: 50px;
  border-radius: 50px;
}
.img-text2 p {
  color: rgba(255, 255, 255, 0.65);
}

@media screen and (max-width: 576px) {
  .header {
    flex-direction: column;
    margin: 20px;
  }

  .title {
    width: 352px;
    height: 335px;
  }
  .title p {
    font-size: 13px;
  }

  .joinclub {
    width: 160px;
    height: 50px;
    margin-right: 5px;
  }
  .downloadapp {
    width: 160px;
    height: 50px;
    margin: 0px;
  }
  .poster {
    margin-top: 400px;
  }
  .img-text1 {
    width: 146px;
    height: 75px;
    position: absolute;
    top: 940px;
    right: 20px;
  }
  .img-text1 h1 {
    font-size: 30.24px;
    font-weight: 900;
    padding-top: 10px;
  }
  .img-text1 p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
    font-weight: 400;
    line-height: 15.12px;
  }
  .img-text2 {
    width: 146px;
    height: 75px;
    position: absolute;
    top: 1150px;
    right: 240px;
    gap: 7px;
  }
  .play img {
    width: 30px;
    border-radius: 50px;
    margin-top: 7px;
  }
  .img-text2 h1 {
    font-size: 22px;
    font-weight: 900;
  }
  .img-text2 p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
    font-weight: 400;
    line-height: 15.12px;
  }
}

/* first-section */

.first-section {
  width: 100%;
  height: 452px;
}
.parent {
  margin: 58px 190px;
}
.title-part {
  margin: 58px auto;
  text-align: center;
}
.title-part h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  padding-bottom: 12px;
}
.title-part p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
}
.card-box {
  width: 231px;
  height: 274px;
  text-align: center;
}
.card-box img {
  border-radius: 100px;
}
.card-box h3 {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
.card-box p {
  padding-top: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 576px) {
  .card-container {
    flex-direction: column;
    justify-content: center;
  }
  .parent {
    margin: 58px 20px;
  }
  .card-box {
    margin: 20px auto;
  }
  .card-box img {
  border-radius: 100px;
}
}
